/*	   typography   	*/

$body-font: 'Roboto', arial, helvetica, sans-serif;

$fs-body: 14px;
$lh-body: 1.4;

$fs-h1: 22px;
$lh-h1: 1.172;

$fs-h2: 20px;
$lh-h2: 1.172;

/*	   end  typography   	*/


/*	   color   	*/
$white: #fff;
$black: #000;

//$mercury: #e5e5e5;
$starship: #ccf645;
$haiti: #131032;
$niagara: #0cae76;
$niagara-secondary: #09ad77;
$athens-gray: #e8e9ed;
$white-lilac: #f5f7fb;
$ultramarine: #130888;
$arapawa: #130B68;
$red: #b03752;
$light-red: #ffd9e1;
$red-secondary: #eb5757;
$light-red-secondary: #fff0f3;

$base-text-color: $black;
$base-background: $white;
$link-color: $black;

$placeholder-color: #eee;

/*	   end  color   	*/


/*	   background   	*/

$body-bg: #fff;

$overlay-bg: rgba(0,0,0,0.3);

/*	   end  background   	*/


/*	   border   	*/

$main-bd: #000;;

/*	   end  border   	*/

$base-min-width: 320px;

$animation-speed: 0.3s;