@import 'variables.scss';
@import 'mixins.scss';


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    font-weight: 300;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: $lh-body;
    font-family: $body-font;
    color: $haiti;
    background: none;
    border: 2px solid transparent;
    outline: none;
    padding: 10px 10px 10px 14px;
    margin: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background: $white-lilac;
    transition: opacity $animation-speed;

    @include placeholder {
        color: $haiti;
        letter-spacing: 1.5px;
    }

    @media (min-width: 768px) {
        max-width: 420px;
        min-height: 48px;
        font-size: 26px;
    }

    &:focus {
        border-color: rgba(17, 94, 248, 0.7);
    }

    &:hover {
        opacity: 0.7;
    }
}

textarea {
    width: 100% !important;
    max-width: 100% !important;
    min-height: 100px;
    font-size: $fs-body;
    line-height: $lh-body;
    font-family: $body-font;
    color: $base-text-color;
    background: none;
    border: 1px solid $main-bd;
    outline: 0 none;
    padding: 10px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-sizing: border-box;
}
.btn {
    font-family: $body-font;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: $fs-body;
    line-height: $lh-body;
    color: $base-text-color;
    background: $white-lilac;
    box-shadow: 0 4px 4px rgba($black, 0.25);
    border-radius: 8px;
    font-weight: normal;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
    margin: 0 0 20px;
    position: relative;
    padding: 7px 14px;
    box-sizing: border-box;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
/* placeholder input*/
input:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input::-webkit-input-placeholder {color:$placeholder-color;}
/* input:focus placeholder */
input:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
input:focus::-webkit-input-placeholder {color:$placeholder-color;}
/* placeholder  textarea*/
textarea:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea::-webkit-input-placeholder {color:$placeholder-color;}
/*  textarea:focus placeholder */
textarea:focus:-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea:focus::-moz-placeholder {
    color:$placeholder-color;
    opacity:1;
}
textarea:focus::-webkit-input-placeholder {color:$placeholder-color;}