@import 'variables.scss';

/*	   header   	*/
#header {
	width: 100%;
	background: $haiti;
	padding: 7px 0 6px;
	font-size: 18px;

	@media (min-width: 992px) {
		padding: 29px 0 25px;
	}

	a {
		text-decoration: none;
		transition: color $animation-speed ease-in-out;
		-webkit-transition: color $animation-speed ease-in-out;
		-moz-transition: color $animation-speed ease-in-out;
	}

	#nav {
		display: flex;
		justify-content: flex-end;

		@media (min-width: 992px) {
			display: block;
		}
	}

	.menu-holder {
		background: $haiti;
		color: $white;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 991px) {
			display: block;
			width: 100%;
			overflow-y: auto;
			position: absolute;
			top: 0;
			left: -100%;
			z-index: 100;
			-webkit-transition: opacity $animation-speed ease-in-out;
			-moz-transition: opacity $animation-speed ease-in-out;
			transition: opacity $animation-speed ease-in-out;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 0 0 8px 8px;
			opacity: 0;
			padding: 49px 15px 2px;
		}
	}

	.menu {
		@media (min-width: 992px) {
			display: flex;
			align-items: center;
			margin: 0 -15px;
		}

		> li {
			padding: 0 0 14px;

			&.active > a {
				color: $starship;
				cursor: default;
			}

			@media (min-width: 992px) {
				padding: 0 15px;
			}

			> a {
				display: block;
				color: inherit;

				&:hover {
					color: $starship;
				}

				@media (min-width: 992px) {
					display: block;
				}
			}
		}

	}

	.toogle-menu {
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor:pointer;
		position: relative;
		color: $white;
		font-size: 18px;

		&:before {
			content: "\e903";
			font-family: 'icomoon';
		}

		@media (min-width: 992px) {
			display: none;
		}
	}

	.close-btn {
		display: block;
		position: absolute;
		top: 7px;
		right: 10px;
		cursor: pointer;
		color: $starship;
		font-size: 18px;

		&:before {
			content: "\e903";
			font-family: 'icomoon';
		}

		@media (min-width: 992px) {
			display: none;
		}
	}

	/*	   navigation   	*/
	input[id="check-menu"] {
		position:fixed;
		left:0;
		top:0;
		opacity:0;
		z-index: -1;
		margin: 0;

		@media (min-width: 992px) {
			display: none;
		}

		&:checked ~ {

			.menu-holder {
				@media (max-width: 991px) {
					left: 0;
					opacity: 1;
				}
			}

			.nav-overlay {
				@media (max-width: 991px) {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.logout-btn,
	.login-btn {
		color: $starship;
		position: absolute;
		top: 8px;
		left: 15px;
		font-size: 18px;

		&:hover {
			color: $white;
		}

		&:after {
			content: "\e900";
			font-family: 'icomoon';
			display: inline-block;
			vertical-align: top;
			line-height: 1;
			font-size: 22px;
			margin: 0 0 0 -1px;

			@media (min-width: 992px) {
				margin: 1px 0 0 8px;
				font-size: 19px;
			}
		}

		@media (min-width: 992px) {
			position: static;
		}
	}

	.login-btn {
		&:after {
			display: none;
		}
	}
}

.nav-overlay {
	display: block;
	background: $overlay-bg;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

