@import 'variables.scss';
/* custom select styles */

.jcf-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 40px;
  background: $white-lilac;
  border-radius: 8px;
  width: 100%;
  padding: 5px 16px;
  font-size: 16px;
  min-width: 120px;

  &.jcf-drop-active {
    .jcf-select-opener {
      &:before {
        transform: rotate(180deg);
      }
    }
  }

  @media (min-width: 768px) {
    width: auto;
    background: transparent;
    height: auto;
    border-radius: 0;
    font-weight: 300;
    font-size: 26px;
    justify-content: flex-start;
  }
}

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select .jcf-select-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.jcf-select .jcf-select-opener {
  text-align: center;
  font-size: 11px;
  line-height: 1;
  margin: 0 0 0 10px;

  &:before {
    content: "\e901";
    font-family: 'icomoon';
    display: block;
    transition: transform $animation-speed;
  }
}

body>.jcf-select-drop {
  position: absolute;
  margin: -1px 0 0;
  z-index: 9999;
}

body>.jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 0;
  z-index: 9999;
  top: 100%;
  left: -1px;
  right: -1px;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

/* multiple select styles */

.jcf-list-box {
  overflow: hidden;
  display: inline-block;
  border: 1px solid #b8c3c9;
  min-width: 200px;
  margin: 0 15px;
}

/* select options styles */

.jcf-select-drop {
  .jcf-select-drop-content {
    border: 1px solid $white-lilac;
  }
}

.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #fff;
  line-height: 14px;
  font-size: 16px;
  width: 100%;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  overflow: hidden;
  cursor: default;
  display: block;
  padding: 8px 16px;
  color: $haiti;
  height: 1%;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
  background: $white-lilac;
}

.jcf-list .jcf-optgroup-caption {
  white-space: nowrap;
  font-weight: bold;
  display: block;
  padding: 5px 9px;
  cursor: default;
  color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */

.jcf-disabled {
  background: #ddd !important;
}

.jcf-focus,
.jcf-focus * {
  border-color: #f00 !important;
}