@import 'variables.scss';
@import 'mixins.scss';

html,body {
	height: 100%;
	margin: 0;

	&.hidden {overflow: hidden;}
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body{
	margin: 0;
	color: $base-text-color;
	background: $base-background;
	font: #{$fs-body}/#{$lh-body} $body-font;
	font-weight: normal;
	min-width: $base-min-width;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;

	@media (min-width: 768px) {
		font-size: 16px;
	}
}

.resize-active * {
	-webkit-transition:none !important;
	-ms-transition:none !important;
	transition:none !important;
}


/*	   general reset   	*/
* {scroll-behavior: auto;}

form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border-style: none;
	vertical-align: top;
}
ul li {vertical-align: top;}

input, select, textarea {
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
	color: $link-color;
	text-decoration: underline;

	&:focus,
	&:hover {
		text-decoration: none;
		outline: 0 none;
	}
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

figure {margin: 0;}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
ol {
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: item;

	> li {
		overflow: hidden;
		padding-left: 30px;
		margin: 0 0 20px;

		&:before {
			content: counters(item, ".", decimal) ".";
			counter-increment: item;
			width: 20px;
			float: left;
			text-align: right;
			margin-left: -30px;
		}
	}
}

dl {
	margin: 0;

	dd, dt {
		margin: 0;
	}
}


/*	   wrapper   	*/
#wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	position: relative;
}
.w1 {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	flex-basis: auto;
	z-index: 1;
	min-height: 1px;
}
#footer {
	-webkit-flex-grow: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	flex-basis: auto;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 10px;

	@media (min-width: 768px) {
		padding: 0 15px;
	}
}
p {margin: 0 0 20px;}

h1 {
	display: block;
	font-size: $fs-h1;
	line-height: $lh-h1;
	font-weight: 500;
	margin: 0 0 20px;
	color: $haiti;

	@media (min-width: 768px) {
		font-size: 34px;
		margin: 0 0 26px;
	}
}

h2 {
	display: block;
	font-size: $fs-h2;
	line-height: $lh-h2;
	font-weight: 500;
	margin: 0 0 10px;
	color: $haiti;

	@media (min-width: 768px) {
		font-size: 24px;
		margin: 0 0 17px;
	}
}
strong,
b {font-weight: 700;}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hidden-tablet {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.hidden-desktop {
	@media (min-width: 1024px) {
		display: none !important;
	}
}

.visible-tablet {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.visible-desktop {
	@media (max-width: 1023px) {
		display: none !important;
	}
}

body.opened-modal {
	#wrapper {
		filter: blur(11px);
	}
}

.simplebox-overlay {
	opacity: 0.4 !important;
}

/*	   main   	*/
#main {width:100%;}

.submenu-holder {
	padding: 12px 0 2px;

	@media (min-width: 768px) {
		padding: 21px 0 9px;
		border-bottom: 2px solid $athens-gray;
	}
}

.submenu-list {
	display: flex;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
	margin-right: -10px;
	padding: 0 0 10px;
	font-size: 16px;
	font-weight: 500;

	@media (min-width: 768px) {
		margin-right: -15px;
	}

	li {
		&.active {
			a {
				background: $starship;
				opacity: 1;
			}
		}
	}

	a {
		text-decoration: none;
		padding: 9px 16px 8px;
		border-radius: 2em;
		display: block;
		transition: opacity $animation-speed;

		&:hover {
			opacity: 0.7;
		}
	}
}

.content {
	padding: 4px 0 30px;

	@media (min-width: 768px) {
		padding: 43px 0 106px;
	}
}

.bonus-frame {
	padding: 0 0 28px;

	@media (min-width: 1024px) {
		display: flex;
		align-items: flex-end;
		padding: 0 0 80px;
	}
}

.bonus-block {
	background: linear-gradient(180deg, $ultramarine 0%, $arapawa 100%);
	box-shadow: 0 11px 22px rgba($black, 0.25);
	border-radius: 12px;
	font-size: 15px;
	font-weight: 300;
	color: $white;
	padding: 20px 16px 34px;
	margin-bottom: 23px;
	max-width: 540px;

	@media (min-width: 768px) {
		padding: 36px;
		font-size: 16px;
		margin-right: 15px;
		display: flex;
		align-items: flex-start;
	}

	@media (min-width: 1024px) {
		width: 42%;
		margin-bottom: 0;
	}

	@media (min-width: 1200px) {
		margin-right: 50px;
	}

	@media (min-width: 1400px) {
		margin-left: -36px;
	}

	.percent-col {
		@media (min-width: 768px) {
			width: 49%;
			max-width: 228px;
			padding: 0 15px 0 0;
		}

		.definition-list {
			div {
				padding: 0 0 15px;
			}

			dt {
				padding: 0;

				@media (max-width: 767px) {
					padding: 7px 21px 0 0;
				}
			}

			dd {
				font-weight: 300;
				font-size: 60px;

				@media (min-width: 768px) {
					font-size: 88px;
				}
			}
		}
	}

	.definition-list {
		margin: 0;
		line-height: 1.2;

		div {
			padding: 0 0 19px;

			&:nth-child(2) {
				dd {
					@media (min-width: 768px) {
						font-size: 24px;
					}
				}
			}

			@media (max-width: 767px) {
				display: flex;
				padding: 0 0 23px;
			}
		}

		dt {
			padding: 0 0 6px;

			@media (max-width: 767px) {
				padding: 3px 21px 0 0;
				width: 55%;
			}
		}

		dd {
			font-size: 20px;
			font-weight: 400;
			line-height: 1;

			@media (min-width: 768px) {
				font-size: 32px;
			}
		}
	}

	.link {
		font-size: 16px;
		text-decoration: none;
		color: $starship;
		display: inline-block;
		vertical-align: top;
		margin: 9px 0 0;

		@media (min-width: 768px) {
			font-size: 18px;
			margin: 0;
		}
	}
}

.progress-bar-holder {
	@media (min-width: 768px) {
		padding-bottom: 27px;
	}

	@media (min-width: 1024px) {
		max-width: 726px;
		flex: 1 0;
	}

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		font-weight: 500;
		padding: 0 0 5px;

		@media (min-width: 768px) {
			font-size: 32px;
			font-weight: 400;
		}
	}

	.progress-bar {
		border-radius: 2em;
		background: #e9f5f1;
		height: 22px;
		position: relative;
		overflow: hidden;

		.progress {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			background: linear-gradient(90deg, $niagara-secondary 0%, $starship 97.62%);
			border-radius: 2em;
		}
	}

	.bottom {
		font-weight: 300;
		font-size: 16px;
		padding: 8px 0 0;

		@media (min-width: 768px) {
			font-size: 32px;
			padding: 7px 0 0;
		}
	}

	.percent-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.payment-tile-holder {
	display: flex;
	overflow-x: auto;
	margin: 0 -16px 0 -6px;
	padding: 0 0 11px;

	@media (min-width: 768px) {
		margin: 0 -27px 0 -12px;
		padding: 0 0 17px;
	}

	.tile {
		background: $white-lilac;
		border-radius: 8px;
		margin: 0 6px;
		padding: 16px;
		width: 208px;
		flex-shrink: 0;

		&.disabled {
			.definition-list {
				opacity: 0.6;
			}
		}

		@media (min-width: 768px) {
			width: 240px;
			padding: 18px 24px;
			margin: 0 12px;
		}
	}

	.definition-list {
		font-size: 14px;
		font-weight: 300;

		@media (min-width: 768px) {
			font-size: 16px;
		}

		div {
			display: flex;
			align-items: flex-start;
			padding: 0 0 6px;

			&:last-child {
				dd {
					font-weight: 700;
					color: $haiti;
				}
			}

			@media (min-width: 768px) {
				padding: 0 0 7px;
			}
		}

		dt {
			width: 51%;
			padding: 0 10px 0 0;
			font-weight: 400;

			@media (min-width: 768px) {
				width: 47%;
			}
		}
	}
}

.bottom-help-text {
	line-height: 1.2;

	@media (min-width: 768px) {
		display: flex;
		align-items: center;
	}

	.date {
		display: block;
		font-size: 16px;
		padding: 0 0 13px 0;

		@media (min-width: 768px) {
			display: inline-block;
			vertical-align: top;
			padding: 0 16px 0 0;
		}
	}

	.text-has-exclamation-mark {
		font-weight: 300;
		font-size: 16px;

		@media (max-width: 767px) {
			padding-right: 33%;
		}
	}
}

.text-has-exclamation-mark {
	position: relative;
	padding-left: 21px;
	display: inline-block;
	vertical-align: top;

	.exclamation-mark {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.exclamation-mark {
	@include flex-central-align;
	width: 17px;
	height: 17px;
	background: $light-red;
	border-radius: 100%;
	text-align: center;
	color: $red;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	flex-shrink: 0;
}

.two-column {
	@media (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
		padding: 13px 0 0;
		min-height: 59vh;
	}

	.form-col {
		padding: 0 0 41px;

		@media (min-width: 1024px) {
			flex: 1 0;
			max-width: 743px;
			padding: 0 15px 0 0;
		}
	}

	.info-col {
		line-height: 1.75;

		@media (min-width: 1024px) {
			width: 41%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			padding: 11px 0 0;
			line-height: 1.7;
		}

		@media (min-width: 1200px) {
			padding: 11px 25px 0 0;
		}
	}

	.text-has-exclamation-mark {
		padding-left: 24px;
		padding-bottom: 15px;

		.exclamation-mark {
			top: 3px;

			@media (min-width: 1024px) {
				top: 6px;
			}
		}
	}

	.text-has-exclamation-mark + .link-list {
		padding-left: 24px;
	}
}

.link-list {
	font-weight: 300;
	font-size: 16px;

	@media (max-width: 767px) {
		line-height: 1.2;
	}

	li {
		padding: 0 0 15px;

		@media (min-width: 768px) {
			padding: 0 0 8px;
		}
	}
}

.form {
	&.edit {
		.input {
			display: block;
		}

		.input-field {
			display: none;
		}
	}

	.form-row {
		padding: 0 0 10px;

		&.has-forgot-password-link,
		&.has-btn {
			@media (min-width: 768px) {
				align-items: flex-start;
			}

			label,
			.label {
				@media (min-width: 768px) {
					padding-top: 9px;
				}
			}

			.btn {
				margin: 6px 0 0;
				font-size: 16px;
				font-weight: 300;

				@media (min-width: 768px){
					font-size: 26px;
				}
			}
		}

		&.invalid-field {
			@media (min-width: 768px) {
				align-items: flex-start;
			}

			label,
			.label {
				@media (min-width: 768px) {
					padding-top: 9px;
				}
			}

			.invalid-message {
				display: block;
			}

			.input {
				border-color: $red;
				border-width: 2px;
				color: $red-secondary;
			}
		}

		@media (min-width: 768px) {
			display: flex;
			align-items: center;
		}
	}

	.checkbox-row {
		padding: 19px 0 16px;

		@media (min-width: 768px) {
			padding: 26px 0 48px;
		}

		.label, label {
			display: inline-block;
		}
	}

	.label, label {
		padding: 0 0 3px;
		font-size: 16px;
		font-weight: 500;
		display: block;

		@media (min-width: 768px) {
			font-size: 24px;
			width: 34%;
			padding: 0 10px 0 0;
		}
	}

	.valid-field {
		@media (min-width: 768px) {
			flex: 1 0;
		}
	}

	.input-holder {
		display: flex;
		align-items: center;
	}

	.input-field {
		min-height: 40px;
		display: flex;
		align-items: center;
		flex: 1 0;

		@media (min-width: 768px) {
			padding: 0 14px;
			min-height: 48px;
			font-size: 26px;
			font-weight: 300;
			text-decoration: underline;
		}
	}

	.input {
		display: none;
	}

	.custom-checkbox {
		font-size: 16px;
	}

	.btn-holder {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0 3px;

		@media (min-width: 1024px) {
			justify-content: flex-start;
			padding: 5px 0 0 34%;
		}

		.cancel,
		.save {
			padding: 0;
			border: none;
			background: transparent;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			font-family: $body-font;
			transition: opacity $animation-speed;

			&:hover {
				opacity: 0.7;
			}
		}

		.cancel {
			color: $red;
		}

		.save {
			color: $haiti;
			background: $white-lilac;
			box-shadow: 0 4px 4px rgba($black, 0.25);
			border-radius: 8px;
			padding: 14px 15px 15px 17px;
			display: flex;
			align-items: center;

			&:after {
				display: inline-block;
				vertical-align: middle;
				content: "\e902";
				font-family: 'icomoon';
				font-size: 17px;
				margin-left: 10px;
				color: $niagara;
			}

			@media (min-width: 1024px) {
				font-weight: 300;
				font-size: 26px;
				padding: 9px 11px 9px 11px;
			}
		}

		.cancel + .save {
			margin-left: 56px;
		}
	}

	.invalid-message {
		margin-top: 1px;
		background: $light-red-secondary;
		border-radius: 8px;
		padding: 9px 16px 9px 31px;
		color: $red-secondary;
		position: relative;
		display: none;
		font-size: 16px;

		&:before {
			content: "!";
			position: absolute;
			top: 11px;
			left: 16px;
			font-weight: 900;
			font-size: 14px;

			@media (min-width: 1024px) {
				font-size: 22px;
			}
		}

		@media (min-width: 768px) {
			max-width: 420px;
		}

		@media (min-width: 1024px) {
			font-size: 22px;
		}
	}
}

.custom-checkbox,
label.custom-checkbox{
	position: relative;
	padding: 0 0 0 36px;
	display: block;
	cursor: pointer;
	width: auto;
	font-weight: 400;

	input[type="checkbox"] {
		position:fixed;
		left:0;
		top:0;
		opacity:0;
		z-index: -1;
	}

	.fake-input{
		display: inline-block;
		vertical-align: middle;
		width:24px;
		height:24px;
		background: #E2E7F1;
		border-radius: 8px;
		position: absolute;
		top: -2px;
		left: 0;
	}

	input[type="checkbox"] + .fake-input:before{
		content: "\e902";
		font-family: 'icomoon';
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		font-size: 13px;
	}

	input[type="checkbox"]:checked + .fake-input:before{opacity:1;}
}

.check-btn {
	cursor: pointer;
	padding: 2px;
	background: $white-lilac;
	box-shadow: 0 4px 4px rgba($black, 0.25);
	border-radius: 8px;
	position: relative;
	width: 48px;
	height: 48px;
	border: none;
	margin: 0 0 0 10px;
	flex-shrink: 0;
	transition: opacity $animation-speed;

	&:hover {
		opacity: 0.7;
	}

	&:before {
		font-family: 'icomoon';
		content: "\e902";
		color: $niagara;
		font-size: 17px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.forgot-password-link {
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	margin: 13px 0 0 15px;
}

.modal-window {
	overflow: hidden;
	max-width: 940px;
	width: 95%;
	border-radius: 8px;
	padding: 25px 28px 55px;
	position: absolute;
	left: -9999px;
	top: -9999px;
	background: $white;
	z-index: 1000;
	box-sizing: border-box;

	@media (min-width: 1024px) {
		padding-right: 15.8%;
	}

	.title-modal {
		display: block;
		font-size: 34px;
		font-weight: 500;
		padding: 0 0 40px;
	}

	.form {
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="date"] {
			@media (min-width: 768px) {
				font-size: 28px;
				letter-spacing: 0.5px;
			}
		}

		input[type="email"] {
			padding-right: 7px;
		}

		.form-row {
			&.has-forgot-password-link,
			&.has-btn {
				label,
				.label {
					@media (min-width: 768px) {
						padding-top: 4px;
					}
				}
			}

			&.invalid-field {
				.input {
					color: $haiti;
					border-width: 1px;
				}
			}
		}

		label, .label {
			@media (min-width: 768px) {
				font-size: 24px;
				width: 37%;
			}
		}

		.input {
			display: block;
		}

		.btn-holder {
			@media (min-width: 1024px) {
				padding-left: 37%;
			}
		}

		.invalid-message {
			&:before {
				@media (min-width: 768px) {
					top: 9px;
					left: 19px;
				}
			}

			@media (min-width: 768px) {
				padding-left: 44px;
			}
		}
	}
}
