@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?78tsrf");src:url("../fonts/icomoon.eot?78tsrf#iefix") format("embedded-opentype"),url("../fonts/icomoon.ttf?78tsrf") format("truetype"),url("../fonts/icomoon.woff?78tsrf") format("woff"),url("../fonts/icomoon.svg?78tsrf#icomoon") format("svg");font-weight:normal;font-style:normal;font-display:block}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-logout:before{content:"\e900"}.icon-chevron:before{content:"\e901"}.icon-check:before{content:"\e902"}.icon-burger-menu:before{content:"\e903"}

/*# sourceMappingURL=../maps/icomoon.css.map */
