extends layouts/base

block title
    - var currentPage = "menu_home"
    - var currentSubPage = "information"
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1.visible-tablet Здравствуйте, Дмитрий
            div.bonus-frame
                div.bonus-block
                    div.percent-col
                        dl.definition-list
                            div
                                dt Ваш процент накопления
                                dd 7%
                    div.bonus-col
                        dl.definition-list
                            div
                                dt Осталось бонусов
                                dd 10 998
                            div
                                dt Общая сумма
                                dd 109 000.17₽
                        a.link(href="" + static_link) История платежей
                div.progress-bar-holder
                    div.top
                        span.number 1₽
                        span.number 500 000₽
                    div.progress-bar
                        div.progress(style="width: 50%;")
                    div.bottom
                        ul.percent-list
                            li 3%
                            li 5%
                            li 7%
                            li 10%
                            li 15%
            h2 Недавние платежи
            div.payment-tile-holder
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 07.02.2021
                        div
                            dt Бонусов
                            dd 200
                        div
                            dt Сумма
                            dd 2 000₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 01.02.2021
                        div
                            dt Бонусов
                            dd 5 000
                        div
                            dt Сумма
                            dd 50 000₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 29.01.2021
                        div
                            dt Бонусов
                            dd 100
                        div
                            dt Сумма
                            dd 1 001₽
                div.tile
                    dl.definition-list
                        div
                            dt Заказ
                            dd 19.01.2021
                        div
                            dt Бонусов
                            dd 251
                        div
                            dt Сумма
                            dd 2 510₽
                div.tile.disabled
                    dl.definition-list
                        div
                            dt Заказ
                            dd 12.01.2021
                        div
                            dt Бонусов
                            dd 378
                        div
                            dt Сумма
                            dd 3 781₽
            div.bottom-help-text
                span.date Сегодня
                    time(datetime="2021-02-17") 17.02.2021
                sapn.text-has-exclamation-mark
                    i.exclamation-mark !
                    span Данные обновляются на следующий день