extends layouts/base

block title
    - var currentPage = "menu_home"
    - var currentSubPage = "security"
    - var loginPage = true
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1 Безопасность
            div.two-column
                div.form-col
                    form(action="#").form.edit
                        //add class .invalid-field to .form-row to styled invalid form fields (pls have a look at a page profile_with_input)
                        .form-row.has-forgot-password-link
                            label(for="current-password").label Текущий пароль
                            .valid-field
                                .input-holder
                                    span.input-field Овчинников-Новогородцев
                                    input#current-password(type="password" placeholder="************").input
                                span.invalid-message Invalid message
                                a.simplebox.forgot-password-link(href="" + entrance_modal) Забыли пароль?
                        .form-row
                            label(for="new-password").label Новый пароль
                            .valid-field
                                .input-holder
                                    span.input-field Дмитрий
                                    input#new-password(type="password" placeholder="****************").input
                                span.invalid-message Invalid message
                        .form-row
                            label(for="confirmation").label Подтверждение
                            .valid-field
                                .input-holder
                                    span.input-field Константинович
                                    input#confirmation(type="password" placeholder="****************").input
                                span.invalid-message Invalid message
                        .btn-holder
                            button(type="submit").save Ок
                div.info-col
                    span.text-has-exclamation-mark
                        i.exclamation-mark !
                        span Для изменения пароля введите текущий пароль, а затем новый и его подтверждение.
                    ul.link-list
                        li
                            a(href="" + static_link) Как мы обрабатываем и храним личные данные
block modals
    include layouts/modal-windows.pug