extends layouts/base

block title
    - var currentPage = "menu_home"
    - var currentSubPage = "profile"
    title cp

block main
    div.submenu-holder
        div.container
            ul.submenu-list
                each page, key in SubMenuItems
                    if currentSubPage === key
                        li(class="active")
                            a(href= page.url)= page.label
                    else
                        li
                            a(href= page.url)= page.label
    section.content
        div.container
            h1 Профиль
            div.two-column
                div.form-col
                    //add class .edit to .form to show inputs
                    form(action="#").form
                        //add class .invalid-field to .form-row to styled invalid form fields (pls have a look at a page profile_with_input)
                        .form-row
                            label(for="surname").label Фамилия
                            .valid-field
                                .input-holder
                                    span.input-field Овчинников-Новогородцев
                                    input#surname(type="text" value="Овчинников-Новогородцев").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="name").label Имя
                            .valid-field
                                .input-holder
                                    span.input-field Дмитрий
                                    input#name(type="text" value="Дмитрий").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="patronymic").label Отчество
                            .valid-field
                                .input-holder
                                    span.input-field Константинович
                                    input#patronymic(type="text" value="Константинович").input
                                span.invalid-message Нельзя использовать цифры
                        .form-row
                            label(for="tel").label Телефон
                            .valid-field
                                .input-holder
                                    span.input-field +7 987 654-32-10
                                    input#tel(type="tel" value="+7 987 654-32-10").input
                                span.invalid-message Нельзя использовать буквы
                        .form-row
                            label(for="email").label Email
                            .valid-field
                                .input-holder
                                    input#email(type="email" value="ovchinnikov-novgorod@gmail.com")
                                    button(type="button").check-btn.visible-desktop
                                span.invalid-message Нельзя использовать
                        .form-row
                            label(for="date").label Дата рождения
                            .valid-field
                                .input-holder
                                    span.input-field 01.12.1980
                                    input#date(type="text" value="01.12.1980").input
                                span.invalid-message Нельзя использовать буквы
                        .form-row
                            label(for="select").label Пол
                            select#select.select
                                option(selected=true) Муж.
                                option Жен.
                                option Не выбран
                        .checkbox-row
                            label(for="check-1").custom-checkbox
                                input(type="checkbox" checked)#check-1
                                span.fake-input
                                span.fake-label Хочу иногда получать письма с информацией о скидках
                        .btn-holder.hidden-desktop
                            button(type="button").cancel Отмена
                            button(type="submit").save Сохранить
                div.info-col
                    span.text-has-exclamation-mark
                        i.exclamation-mark !
                        span Для изменения любого поля просто нажмите на него. Некоторые изменения потребуют введения кода, либо подтверждения с помощью смс-сообщения.
                    ul.link-list
                        li
                            a(href="" + static_link) Навсегда отказаться от любых рассылок
                        li
                            a(href="" + static_link) Как мы обрабатываем и храним личные данные