header#header
    .container
        nav#nav
            input#check-menu(type="checkbox")
            .menu-holder
                label.close-btn(for="check-menu")
                ul.menu
                    each page, key in PrimaryNavItems
                        if currentPage === key
                            li(class="active")
                                a(href= page.url)= page.label
                        else
                            li
                                a(href= page.url)= page.label
                if loginPage
                    a.login-btn.simplebox(href="" + entrance_modal)
                        span  Вoйти
                else
                    a.logout-btn(href="" + logout_link)
                        span.visible-tablet  Выйти
            label.toogle-menu(for="check-menu")
            label.nav-overlay(for="check-menu")
