#entrance_modal.modal-window
    strong.title-modal Вход
    form(action="#").form
        .form-row.has-btn
            label(for="tel").label Ваш телефон
            .valid-field
                .input-holder
                    input#tel(type="tel" value="+7 987 654-32-10").input
                span.invalid-message Нельзя использовать буквы
                button.btn(type="submit") Подтвердить телефон
        .form-row
            label(for="email").label Email
            .valid-field
                .input-holder
                    input#email(type="email" value="ovchinnikov-novgorod@gmail.com")
                span.invalid-message Нельзя использовать
        .form-row.invalid-field
            label(for="name").label Введите код из смс
            .valid-field
                .input-holder
                    input#name(type="text" value="43245").input
                span.invalid-message Неверный код
        .btn-holder
            button.save(type="submit") Войти